# Ignore node_modules (dependency folder)
node_modules/

# Ignore build and temp files
.next/
build/

# Ignore package lock and other generated config files
package-lock.json
*.log

# Ignore environment variables and local config files
*.env
*.local
*.env.local

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db


# Ignore other config files or logs
eslint.config.mjs
next.config.ts
postcss.config.mjs
tsconfig.json

git-2.48.1/
v2.48.1.tar.gz